{{ define "highlight" }}
  {{ range $index, $value := . }}
    {{ if $value.Highlighted }}
      <b>{{ $value.Content }}</b>
    {{ else }}
      {{ $value.Content }}
    {{ end }}
  {{ end }}
{{ end }}
