{{ define "index" }}
  <!doctype html>
  <html>
    <head>
      <meta charset="UTF-8" />
      <title>Search</title>
      <meta
        name="generator"
        content="Easysearch (https://github.com/FluxCapacitor2/easysearch)"
      />
      <!-- modern-normalize is a CSS reset, which helps the site look consistent across all modern browsers -->
      <link
        rel="stylesheet"
        type="text/css"
        href="https://unpkg.com/modern-normalize@2.0.0/modern-normalize.css"
      />
      <link rel="stylesheet" type="text/css" href="/static/style.css" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"
        rel="stylesheet"
      />

      <script
        src="https://unpkg.com/htmx.org@2.0.1"
        integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
        crossorigin="anonymous"
        defer
      ></script>
      {{ .CustomHTML }}
    </head>
    <body class="inter-regular">
      <main class="container">
        <form
          class="search-form"
          method="GET"
          action="/"
          hx-get="/results"
          hx-trigger="keyup changed delay:100ms from:[type=search], change delay:200ms from:[type=checkbox], submit throttle:500ms"
          hx-target="#results"
        >
          <h1>Search</h1>
          <p>
            Include results from:
            {{ range $index, $value := .Sources }}
              <label>
                <input
                  type="checkbox"
                  name="source"
                  value="{{ $value.ID }}"
                  checked="{{ $value.Enabled }}"
                />
                {{ $value.ID }}
              </label>
            {{ end }}
          </p>
          <div class="row">
            <input
              type="search"
              name="q"
              placeholder="Search..."
              value="{{ .Query }}"
            />
            <noscript>
              <button type="submit">Search</button>
            </noscript>
          </div>
          <input type="hidden" name="page" value="1" />
        </form>
        <div id="results">
          {{ template "results" . }}
        </div>
      </main>
    </body>
  </html>
{{ end }}
